/* Basic styling for the application */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-qvs {
  height: 200px;
  width: auto;
  margin-right: 0.75rem;
}

.logo-qvs-footer {
  height: 100px;
  width: auto;
  margin-right: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
